<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head") %>
  <style>
    header {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    button {
      border-style: none;
      border-radius: 40px;
      background-color: #159df8;
      width: 140px;
      color: #fff;
      font-size: 1rem;
      letter-spacing: 1px;
      cursor: pointer;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      padding: 1rem;
    }
    a {
      text-decoration: none;
      font-size: 1.4rem;
      letter-spacing: 1px;
      color: #fff;
    }
  </style>
  <body>
    <header>
      <h1>
        I am glad to work with you. I will contact you as soon as possible
      </h1>
      <button><a href="/">Home</a></button>
    </header>
  </body>
</html>
