<article class="work-container">
  <div class="work-img">
    <img src="/projects-pic/<%= pics.tindo %>" alt="dice-game" />
  </div>
  <div class="work-description">
    <h3><span style="color: #159df8">Color</span> Game</h3>
    <h4>
      This is a simple dummy dog lover website. Tool used
      <span style="color: #159df8">HTML, CSS and Bootstrap</span>
    </h4>
    <ul></ul>
    <div class="pro-link">
      <a style="color: #159df8" href="https://github.com/kumarmeet/tindo"
        target="_blank" >Repo</a
      >
      <a style="color: #159df8" href="https://kumarmeet.github.io/tindo/"
        target="_blank" >Live Demo</a
      >
    </div>
  </div>
</article>
