<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css"
  />
  <script
    src="https://kit.fontawesome.com/06fcaa0c22.js"
    crossorigin="anonymous"
    defer
  ></script>
  <link rel="stylesheet" href="/style/main.css" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
  <script src="/script/toggle.js" defer></script>
  <title>Portfolio</title>
</head>
