//variables
$--primary-color: #3db2ff;
$--dark-color: #159df8;
$--body-color: #eaf7ff;
$--white-color: #fff;
$--border-color: #dcdcdc;
$--input-focus-color: #80bdff;
$--default-font-size: 1rem;

//lists
$--border-default: 1px solid;

//map
$width: (
  width100: 100%,
  width80: 80%,
  width50: 50%,
  width40: 40%,
);

//mixins
@mixin display-flex-direction-col() {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Ubuntu, sans-serif;
  background-color: $--body-color;
  line-height: 1.3;
  scroll-behavior: smooth;
}

aside {
  position: fixed;
  background-color: $--primary-color;
  color: $--white-color;
  z-index: 10;
  transform: translate3d(100%);
  transition: all 0.5s ease 0s;

  #logo {
    padding: $--default-font-size;
    font: {
      size: $--default-font-size * 2;
      weight: 700;
    }
    text-align: center;
    background-color: $--dark-color;
    margin-bottom: 4rem;
  }

  #navbar {
    height: 100vh;
    display: flex;
    margin-top: 2rem;
    justify-content: center;

    .nav-items {
      list-style: none;
      height: 70%;
      @include display-flex-direction-col();
      justify-content: space-around;
      align-items: center;
    }
    .nav-items .icon {
      display: inline-block;
      padding: 13px 17px;
      width: map-get($width, width100);
      border-radius: 4px;
      transition-duration: 0.3s;
    }

    .fa-arrow-down {
      margin-top: 4rem;
    }

    .icon {
      font-size: $--default-font-size + 0.2;
      color: $--white-color;
    }
  }
}

#hero {
  max-width: 1500px;
  @include display-flex-direction-col();
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 64px;

  @media (max-width: 904px) {
    margin: 0 1rem;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: map-get($width, width80);
    height: 100vh;
    flex-wrap: wrap;
    margin-left: 100px;

    @media (max-width: 904px) {
      margin: 0;
    }

    .pro-img {
      @media (max-width: 904px) {
        margin-top: 1rem;
      }

      img {
        border-radius: 50%;
        width: 304px;
        height: 304px;
        overflow: hidden;
        box-shadow: 5px 5px 5px #81cbfc, 10px 10px 10px #8dccf7;
      }
    }
  }

  .description {
    flex-basis: 450px;
    height: 50%;
    @include display-flex-direction-col();
    justify-content: space-evenly;

    @media (max-width: 904px) {
      h1,
      h2,
      h4,
      p {
        text-align: center;
      }
    }

    p {
      text-align: left;
      font-size: $--default-font-size + 0.2;
    }

    @media (max-width: 904px) {
      p {
        text-align: center;
        margin-bottom: 24px;
      }
    }
  }

  #social {
    display: flex;
    justify-content: space-between;

    @media (max-width: 904px) {
      margin-top: 1rem;
    }
  }

  #rsm-btn {
    border: {
      style: none;
      radius: 40px;
    }
    background-color: $--dark-color;
    width: 140px;
    color: $--white-color;
    font-size: $--default-font-size;
    letter-spacing: 1px;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 1rem;
  }
}

.social-items {
  display: flex;
  width: map-get($width, width50);
  justify-content: space-between;
  align-items: center;
  list-style: none;
  .icon {
    color: $--dark-color;
    background-color: $--white-color;
    font-size: 1.4rem;
    transition-duration: 0.2s;
    padding: 8px 10px;
    border: $--border-default rgba(206, 199, 252, 0.634);
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(134, 151, 168, 0.2);
  }
}

main {
  width: map-get($width, width80);
  margin-left: 100px;

  @media (max-width: 904px) {
    margin: 0;
    width: 100%;
    margin-bottom: 24px;
  }

  #about {
    position: relative;
  }

  #skills {
    margin-top: 5rem;
  }

  .section-head {
    position: relative;
    margin: 54px 0;

    span {
      font-size: $--default-font-size - 0.3;
      margin-left: 64px;
      display: block;
      padding-bottom: 20px;
    }
    span::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 5px;
      width: 40px;
      height: 1px;
      background: #333;
    }
    h2 {
      font-size: $--default-font-size + 0.5;
    }

    @media (max-width: 904px) {
      text-align: center;
      margin: 60px 0 24px 0;

      span {
        margin: 0;
      }
      span::before {
        content: none;
      }
    }
  }

  .skills-container {
    .skills-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
      grid-gap: 2rem;
      justify-items: center;
      li {
        list-style: none;
        font-size: $--default-font-size * 2;
        background-color: $--white-color;
        padding: 0.5rem 1rem;
        border-radius: $--default-font-size - 0.6;
        border: $--border-default $--border-color;
        transition-duration: 0.2s;
      }
    }
  }
  .work-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: $--border-default #e7e0e0;
    padding: 4rem;
    border-radius: 8px;
    transition-duration: 0.3s;
    margin-bottom: 4rem;

    @media (max-width: 904px) {
      height: 100%;
      line-height: 2;
      text-align: center;

      .work-img {
        margin-bottom: 1rem;
        min-width: 200px;
      }

      .work-description {
        width: 100%;
      }
    }

    &:active,
    &:hover {
      box-shadow: 5px 14px 28px rgba(134, 151, 168, 0.2);
    }

    .work-img {
      overflow: hidden;
      width: map-get($width, width40);
      height: 180px;
      border-radius: 8px;

      img {
        width: map-get($width, width100);
        height: 100%;
      }
    }
  }

  .work-description {
    @include display-flex-direction-col();
    justify-content: space-between;
    width: map-get($width, width50);

    li {
      list-style: disc inside;
      line-height: 1.4;
    }
  }
  .pro-link {
    align-self: center;

    a {
      margin-left: 40px;
      font-weight: 600;

      @media (max-width: 904px) {
        padding-top: 10px;
        margin: 4px;
      }
    }
  }
  .contact-form form {
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    @media (max-width: 904px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .submit-btn {
      justify-content: center;
    }
  }

  #messageInput,
  #subjectInput {
    grid-column: 1/-1;
  }

  #messageInput {
    font-family: Ubuntu, sans-serif;
    padding: 20px;
  }
}

.card {
  background-color: $--white-color;
  padding: 5rem 3rem;
  border-radius: 1rem;
  border: $--border-default $--border-color;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);

  @media (max-width: 904px) {
    padding: 2rem;
  }
}

.about-container p {
  font: {
    size: $--default-font-size + 0.1;
    weight: 600;
  }
}

.input {
  border: 1px solid $--border-color;
  transition: all 0.2s ease-in;
  padding: 11px 20px;
  font-size: $--default-font-size;
  letter-spacing: 1px;
  width: map-get($width, width100);
}

.input:focus {
  border-color: $--input-focus-color;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.hover-icons:active,
.hover-icons:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* media query */
@media (max-width: 904px) {
  .hide-aside {
    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s ease 0s;
  }
  .show-menu {
    transform: translate3d(100%);
    transition: all 0.5s ease 0s;
  }

  /* menu */
  #menu-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 100;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 4px;
    background-color: #159df8;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /* menu end */
}

/* c-programming section youtube link */

#multiple-pos {
  position: relative;
  div {
    height: 100px;
    position: absolute;
    bottom: 15px;
    left: -84px;
    z-index: 100;
    color: #ffffff;

    ul li {
      list-style-type: none;
      margin-bottom: 0.5rem;

      a:hover {
        color: #fff;
      }
    }
  }
  .card {
    padding-top: 1.4rem;
    width: 240px;
    background-color: rgba(159, 208, 250, 0.9);
  }
}
