<article class="work-container">
  <div class="work-img">
    <img src="/projects-pic/<%= pics.cProgramming %> " alt="c-programming" />
  </div>
  <div class="work-description">
    <h3>
      Participated in
      <span style="color: #159df8">Competitive</span> Coding
    </h3>
    <h4>
      Got place weekly competition in
      <span style="color: #159df8">C Programming</span>
    </h4>
    <ul>
      <li>
        Got <span style="color: #159df8">2nd</span> place weekly competition on
        coder.mysirg.com (from 10 to 15 May, 2021)
      </li>
      <li>
        Got <span style="color: #159df8">1st</span> place weekly competition on
        coder.mysirg.com (from 31 May to 05 June, 2021)
      </li>
    </ul>
    <div class="pro-link">
      <a
        style="color: #159df8"
        href="https://coder.mysirg.com/certificate/fb10d77f8c0c83f042a2ec6e07a967ac"
        target="_blank" >Certificate</a
      >
      <a
        style="color: #159df8"
        href="https://github.com/kumarmeet/competative-programming-c-mysirg"
        target="_blank" >Repo</a
      >
      <a
        id="multiple-pos"
        style="color: #159df8; text-decoration: underline;"
        >Youtube</a
      >
    </div>
  </div>
</article>
