<article class="work-container">
  <div class="work-img">
    <img src="/projects-pic/<%= pics.dsaUsingC %>" alt="" />
  </div>
  <div class="work-description">
    <h3>
      Participated in
      <span style="color: #159df8">Competitive</span> Coding
    </h3>
    <h4>
      Got place weekly competition in
      <span style="color: #159df8">DS & Algo using C Programming</span>
    </h4>
    <ul>
      <li>
        Got <span style="color: #159df8">2nd</span> place weekly competition on
        coder.mysirg.com (from 12 to 17 July, 2021)
      </li>
    </ul>
    <div class="pro-link">
      <a
        href="https://coder.mysirg.com/certificate/95e4d46b3049e4cc930e096204c3253d"
        style="color: #159df8"
        target="_blank"
        >Certificate</a
      >
      <a
        style="color: #159df8"
        href="https://github.com/kumarmeet/DATA-STRUCTURES-AND-ALGORITHS-COMPETATIVE-PROGRAMMING-MYSIRG"
        target="_blank"
        >Repo</a
      >
      <a
        style="color: #159df8"
        href="https://www.youtube.com/watch?v=RkLDpDpl4bA&t=1010s"
        target="_blank"
        >Youtube</a
      >
    </div>
  </div>
</article>
