<!-- navbar start -->
<aside class="hide-aside">
  <p id="logo">MKV</p>
  <nav id="navbar">
    <ul class="nav-items">
      <li>
        <a href="/" class="icon hover-icons"
          ><i class="fas fa-house-user"></i
        ></a>
      </li>
      <li>
        <a href="#about" class="icon hover-icons"
          ><i class="fas fa-address-card"></i
        ></a>
      </li>
      <li>
        <a href="#skills" class="icon hover-icons"
          ><i class="fas fa-laptop-code"></i
        ></a>
      </li>
      <li>
        <a href="#projects" class="icon hover-icons"
          ><i class="fas fa-briefcase"></i
        ></a>
      </li>
      <li>
        <a href="#contact" class="icon hover-icons"
          ><i class="fas fa-phone"></i
        ></a>
      </li>
      <div><i class="fas fa-arrow-down"></i></div>
    </ul>
  </nav>
</aside>
<!-- navbar end -->
